.admin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.admin__navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;

    @media screen and (width < 400px) {
        flex-direction: column;
        align-items: center;
    }
}

.admin__navigation__element {
    color: #008000;
    font-size: 1.2rem;
    font-weight: bold;

    &.current {
        color: #000000;
        text-decoration: none;
    }
}

.admin__content {
    container-type: inline-size;
    position: relative;
    width: calc(100% - 20px);
    margin-top: 30px;
}
